:root {
    --primary-bg-color: #000000;
    --primary-btn-color: #FDDA7A;
}

*, *::before, *::after {
    box-sizing: inherit;
}

* {
    font: inherit;
}

html {
    box-sizing: border-box;
}

img, picture, svg, video {
    display: block;
    max-width: 100%;
}

body {
    font-family: Arial, sans-serif;
    margin: 0;
}

a {
    text-decoration: none;
}

.navBuy {
    background-color: var(--primary-btn-color);
}